body {
    background-color: #121212;
    color: white;
}

.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.landingBtn {
    background-color: #121212;
    padding: 8px 12px;
    border: none;
    border-radius: 10px;
    height: 50px;
    object-fit: contain;
    transition: .4s
}

.landingBtn:hover {
    height: 55px;
    /* background-color: #222222; */
}

.landingImg {
    position: absolute;
    left: 0;
    bottom: 0;
    margin-left: 300px;
    z-index: 9;
    height: 150vh;
    object-fit: contain;
}